asgiref==3.5.2
async-timeout==4.0.2
Deprecated==1.2.13
dj-database-url==0.5.0
Django==3.2
django-ckeditor==5.9.0
django-debug-toolbar==3.2.2
django-user-visit==0.4
packaging==21.3
ua-parser==0.10.0
user-agents==2.2.0
whitenoise==5.0.1
wrapt==1.14.1
zipp==3.10.0
typing_extensions==4.4.0
djangorestframework
djongo==1.3.6
pymongo==3.12.3
dnspython
django-cors-headers
django-taggit==3.1.0
djangorestframework-simplejwt==5.2.2
